body {
  background-color: #f9f5f2;
  color: d43434;
  font-family: 'Verdana';
  margin: 0;
}
.titlescreen {
  margin-left: -60px;
  margin-right: -60px;
  font-family: 'Fredoka One';
  font-size: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
  background: #000d2d;
  color: #d43434;
}
.body {
  padding: 60px;
}
header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000d2d;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
h1 {
  color: #d43434;
  font-family: 'Fredoka One';
}
h2 {
  color: #d43434;
  font-family: 'Fredoka One';
  font-size: 30px;
}
p {
  font-family: 'Verdana';
  font-size: 15px;
}

a:link, a:visited  {
  text-decoration-line: none;
  color: #d43434;
}
a:hover, a:active {
  text-decoration-line: none;
}
button.footer{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0.5px 10px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
  outline-style: none;
  border: none;
  font-size: 14px;
  text-align: center;
  cursor:pointer;
  font-weight: bold;
}
button.footer:active, button.footer:hover{
  background-color: #d43434;
  color: white;
}
footer {
  padding: 16px;
  right: 13px;
  left: auto;
  z-index: 3;
  bottom: 13px;
  color: white;
  padding: 5px;
  position: fixed;
  margin-right: 12px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
}

img.logo {
  height: 5em;
}
img.report {
  max-width: none;
}
img.som-shield {
    height: 2em;
    display: block;
}
img.grid {
  object-fit: cover;
  width: 350px;
  height: 300px;
}

input {
    display: block;
}
ul {
  color: #EDF5E1;
}

.grid-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto auto;
  padding: 5px;
}

.grid-item {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
