body {
  max-width: 800px;
  background-color: #5CDB95;
  padding: 50px;
  color: white;
  font-family: 'Verdana';
}
h1 {
  font-family: 'Fredoka One';
  font-size: 48px;
}
p {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 20px;
}

footer {

}

img.logo {
  height: 25%;
  width: 25%;
}
font-family: 'Fredoka One', cursive;

img.som-shield {
    height: 2em;
    display: block;
}

input {
    display: block;
}
ul {
  color: #05386B;
}

.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
