{{template "layout" .}}

{{define "title"}}
	Our Report
{{end}}

{{define "content"}}
<h1 class="title"></h1>
<p>
	Our Status Update
</p>
<p>
	As of {{.Content}}
</p>
<h2 class="title">
</h2>
<p>
	{{range .Report}}
		<img class="report" src="{{.}}" style="width: 100%;max-height: 100%">
	{{end}}
</p>
</form>
{{end}}
